In [0]:
#loop control statemennts:break,continue
for i in range(1,11):
    if i % 5 == 0:
        break
    else: 
        print(i)

1
2
3
4

In [0]:
for i in range(1,11):
    if i % 5 == 0:
        continue
    else: 
        print(i)

1
2
3
4
6
7
8
9

Program to validate the username and password given by the user.if give wrong it should ask the username and password again and again until user gives the correct credentials

In [0]:
#username:python
#password:abc123
while True:
  user=input("enter your name: ")
  if user == "python":
     pwd=input("enter your password: ")
     if pwd=="abc123":
        print("Login Successful!!")
        break
  else:
     continue

enter your name: sasasd
enter your name: python
enter your password: ewwfefewf
enter your name: abc123
enter your name: python
enter your password: abc123
Login Successful!!

### Functions:
block of statements

1.predefined(which are already)
       
       -len(),print(),input(),min(),max()

2.user-defined(custom function)

```def function_name(parameter list):
       
       statements
       
       return ```

In [0]:
def name(username):#Function definition
    print("hello",username)

name("sai")#Function calling

hello sai

In [0]:
def addition(a,b):
    return a+b,a-b,a*b,a/b
    
print(addition(10,20))
print(addition(100,200))
print(addition(110,220))

(30, -10, 200, 0.5)
(300, -100, 20000, 0.5)
(330, -110, 24200, 0.5)

In [0]:
#Multiple return values
def arithmetic(a,b):
    return a+b,a-b,a*b,a/b

#unpacking
add,sub,mul,div = arithmetic(10,20)
print(sub)

-10

# Different Types Of arguments
1.required positional arguments

2.default argument

3.keyword argument

4.vatiable length argument

In [0]:
def add(a,b):
    return(a+b)
add(10,20)
#add(10,20,30)

30

In [0]:
#default argument 
#default argument should be at the end of arg list
def add(a,b=100):
    return a+b

print(add(100))
print(add(200,200))

200
400

In [0]:
#keyword argument:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b=10,a=20)

a value: 20
b value: 10

30

In [0]:
#variable length arguments
#(120,230,34,450,460)-->Tuple
def add(*a):
    m = 1
    for i in a:
        m = m*i 
    return m

print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

200
6000
240000

In [0]:
#Nested Functions : square,cube
def square(a):
    return a*a

def cube(x):
    return square(x)*x

print(square(10))
print(cube(10))

100
1000

# Recursive Function:
1.Factorial of a number

2.Fibonacci Series

# Data Structures
**List**:
   

*   Collection of elements enclosed in[] and seperated by ,
*   lists are mutable,indexed,ordered adn allows duplicate values
*   list allows heterogenous values

In [0]:
list1=[12,23.45,True,"abc",12]
print(type(list1))

<class 'list'>

In [0]:
#operators supported by list : +,*,[],[:],in,not in
list1=[1,2,3]
list2=[10,20,30]
print(list1+list2)#concatenation
print(list1*3)#repitition
print(list1[1])#2
print(list1[1:3])#[1,2]
print(2 in list1)#true
print(200 in list1)#False

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [0]:
#Built-in functions:len(),min(),max(),list()
list1 = [1,2,3,40]
s1="python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] = 100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]